body {
  font-family: "Varela Round", sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  text-align: left;
}
video {
  position: fixed;
  z-index: -1;
  object-fit: contain;
  bottom: auto;
  top: 0;

  min-width: 100%;
  min-height: 100%;
}

form {
  right: 0px;
}

a {
  color: wheat;
  text-shadow: #194350;
}

a:hover {
  font-weight: 800;
  color: wheat;
  transition: all 200ms;
}

.container {
  max-width: 900px;
  max-height: 700px;
  border: solid;
  border-radius: 20px;
  border-color: #194350;
  padding: 30px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.7);
}

.search {
  text-align: center;
}

.search-bar {
  width: 75%;
  transition: 300ms;
}

#locationBtn:hover {
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.search-button:hover {
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
}

.search-button,
.search-bar,
#locationBtn {
  border-radius: 12px;
  padding: 10px 20px;
  border-color: #194350;
  display: inline-block;
}
#locationBtn {
  right: 0px;
}

.cityDateCondNow {
  padding: 20px 10px 0px;
  margin: 25px;
}

.cityDateCondNow,
#condition:first-letter {
  text-transform: capitalize;
}

.weather-now {
  padding: 0px;
  margin: 0px 25px;
}

p#weatherNow {
  margin-bottom: 0px;
}

.condition-now {
  padding: 0px 10px;
  font-size: 20px;
}
#country {
  font-weight: 800;
}
#icon {
  font-size: 40px;
  padding: auto;
}

.temperature-now {
  font-size: 60px;
  padding: 0px;
  font-weight: 700;
}

.measure {
  padding-top: 40px;
  padding-left: 40px;
}

#celcius:hover {
  font-weight: bold;
  cursor: pointer;
}
#fahrenheit:hover {
  font-weight: bold;
  cursor: pointer;
}

.conditions {
  list-style-type: none;
}

.forecast {
  margin: 40px auto 0 auto;
  text-align: center;
  font-size: 20px;
  padding: 30px;
  padding-top: 20px;
}

.day-temp {
  font-weight: 700;
}

#footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: wheat;
  text-decoration: none;
}
